<div class="{{styles.container}}">
    <div class="{{styles.left}}">
        <div class="{{styles.profile}}">Профиль</div>
        <div class="{{styles.search}} {{#if state.search.length}}{{styles.filled}}{{/if}}">
            <input type="text" value="{{state.search}}" placeholder="Поиск">
        </div>
        <div id="{{chatsId}}" class="{{styles.chats}}">
            {{#map state.chats fnc}}
                {{#each this}}
                    {{>
                    Chat
                        id=this.id
                        class=(lookup @root.styles)
                        avatar=this.avatar
                        title=this.title
                        data=this.last_message.time
                        text=this.last_message.content
                        counter=this.unread_count
                        dataset=(lookup @root.dataset)
                        isActive=(isChatActive @root.state this.id)
                    }}
                {{/each}}
            {{/map}}
        </div>
    </div>
    <div class="{{styles.right}}">
        {{#if state.currentChatId}}
            <div>сообщения...</div>
        {{else}}
            <div class="{{styles.placeholder}}">Выберете чат, чтобы отправить сообщение</div>
        {{/if}}
    </div>
</div>
