<div class="{{styles.container}}">
	<aside class="{{styles.left}} {{#unless currentChatId}}{{styles.left-shadow}}{{/unless}}">
		<div class="{{styles.profile}}">
			{{{ markup.main-profile-link }}}
		</div>
		<div class="{{styles.search}} {{#if chatsSearchForm.fields.title.length}}{{styles.filled}}{{/if}}">
			{{{ markup.main-search-form }}}
		</div>
		{{{ markup.main-chat-list }}}
	</aside>
	<div class="{{styles.right}}">
		{{#if currentChatId}}
			{{{ markup.main-messaging }}}
		{{else}}
			<main class="{{styles.placeholder}}">
				Выберете чат, чтобы отправить сообщение
			</main>
		{{/if}}
	</div>
</div>
