<div class="{{styles.container}}">
    <div class="{{styles.left}}">
        <div class="{{styles.profile}}">Профиль</div>
        <div class="{{styles.search}} {{#if state.search.length}}{{styles.filled}}{{/if}}">
            <input type="text" value="{{state.search}}" placeholder="Поиск">
        </div>
        <div id="{{chatsId}}" class="{{styles.chats}}">
            {{#map state.chats fnc}}
                {{#each this}}
                    {{>
                    Chat
                        id=this.id
                        class=(lookup @root.styles)
                        avatar=this.avatar
                        title=this.title
                        data=this.last_message.time
                        text=this.last_message.content
                        counter=this.unread_count
                        dataset=(lookup @root.dataset)
                        isActive=(isChatActive @root.state this.id)
                    }}
                {{/each}}
            {{/map}}
        </div>
    </div>
    <div class="{{styles.right}}">
        {{#if state.currentChatId}}
            <div>
                сообщения...
            </div>
        {{else}}
            <div class="{{styles.placeholder}}">
                Выберете чат, чтобы отправить сообщение
                {{>
                DropDown
                    id=(lookup @root.ddTop 'id')
                    dataset=(lookup @root.ddTop 'dataset')
                    buttonText=(lookup @root.ddTop 'buttonText')
                    options=(lookup @root.ddTop 'options')
                    isActive=(isDdActive @root.ddTop)
                    direction=(lookup @root.ddTop 'direction')
                }}
                {{>
                DropDown
                    id=(lookup @root.ddBottom 'id')
                    dataset=(lookup @root.ddBottom 'dataset')
                    buttonText=(lookup @root.ddBottom 'buttonText')
                    options=(lookup @root.ddBottom 'options')
                    isActive=(isDdActive @root.ddBottom)
                    direction=(lookup @root.ddBottom 'direction')
                }}
            </div>
        {{/if}}
    </div>
</div>
