<div class="{{styles.container}}">
    <div class="{{styles.block}}">
        <div class="{{styles.title}}">
            <h3>Регистрация</h3>
        </div>
        <div>
            {{>
            Field
                    id="first_name"
                    placeholder="Имя"
                    type="text"
                    label="Имя"
                    error=state.errors.first_name
                    value=state.fields.first_name
                    dataset="first_name"
            }}
            {{>
            Field
                    id="second_name"
                    placeholder="Фамилия"
                    type="text"
                    label="Фамилия"
                    error=state.errors.second_name
                    value=state.fields.second_name
                    dataset="second_name"
            }}
        </div>
        <div class="{{styles.buttons}}" id="{{buttonsId}}">
            {{>
                Button
                    text="Зарегистрироваться"
                    class=styles.button
                    type=btn_type_reg
            }}
            {{>
                Button
                    text="Назад"
                    class=styles.button
                    type=btn_type_auth
            }}
        </div>
    </div>
</div>
