<div class="{{styles.container}}">
	<main class="{{styles.block}}">
		<div class="{{styles.title}}">
			<h3>Вход</h3>
		</div>
		<form id="{{ids.form}}" class="{{styles.form}}">
			<div class="{{styles.fields-group}}">
				{{{ markup.authorization-login-field }}}
				{{{ markup.authorization-psw-field }}}
			</div>
			{{{ markup.authorization-submit }}}
		</form>
		<div class="{{styles.buttons}}">
			{{{ markup.authorization-signup }}}
			{{{ markup.authorization-temp-error }}}
		</div>
	</main>
</div>
