<div class="{{styles.container}}">
	<aside class="{{styles.left}}">
		{{{ markup.profile-aside-button }}}
	</aside>
	<main class="{{styles.right}}">
		<div class="{{styles.content}}">
			<form class="{{styles.form}}">
				<div class="{{styles.avatar}}">
					<div class="{{styles.image}}">
						{{{ markup.profile-avatar }}}
						<div class="{{styles.mask}}">
							Поменять аватар
						</div>
					</div>
					<div class="{{styles.name}}">{{userData.first_name}}</div>
				</div>
			</form>
			{{#if isPasswordEdit}}
				{{{ markup.profile-password-form-container }}}
			{{else}}
				{{{ markup.profile-data-form-container }}}
			{{/if}}
			<div class="{{styles.buttons}}">
				{{#if isDataEdit}}
					<div class="{{styles.buttons-center}}">
						{{{ markup.profile-cancel-data-edit-button }}}
					</div>
				{{else if isPasswordEdit}}
					<div class="{{styles.buttons-center}}">
						{{{ markup.profile-cancel-psw-edit-button }}}
					</div>
				{{else}}
					<div class="{{styles.block}}">
						{{{ markup.profile-change-data-button }}}
					</div>
					<div class="{{styles.block}}">
						{{{ markup.profile-change-psw-button }}}
					</div>
					<div class="{{styles.block}}">
						{{{ markup.profile-logout-button }}}
					</div>
				{{/if}}
			</div>
		</div>
	</main>
</div>
