<div class="{{styles.container}}">
	<aside class="{{styles.left}}">
		{{{ markup.profile-aside-button }}}
	</aside>
	<main class="{{styles.right}}">
		<div class="{{styles.content}}">
			<form class="{{styles.form}}">
				<div class="{{styles.avatar}}">
					<div class="{{styles.image}}">
						{{{ markup.profile-avatar }}}
						<div class="{{styles.mask}}">
							Поменять аватар
						</div>
						{{#if userData.avatar.length}}
							<img src="/api/v2/resources{{userData.avatar}}" alt="avatar"/>
						{{/if}}
					</div>
					<div class="{{styles.name}}">{{userData.first_name}}</div>
				</div>
				<div class="{{styles.fields-group}}">
					{{#if isPasswordEdit}}
						<div class="{{styles.block}}">
							{{{ markup.profile-old-password-field }}}
						</div>
						<div class="{{styles.block}}">
							{{{ markup.profile-new-password-field }}}
						</div>
						<div class="{{styles.block}}">
							{{{ markup.profile-confirm-password-field }}}
						</div>
					{{else}}
						<div class="{{styles.block}}">
							{{{ markup.profile-email-data-field }}}
						</div>
						<div class="{{styles.block}}">
							{{{ markup.profile-login-data-field }}}
						</div>
						<div class="{{styles.block}}">
							{{{ markup.profile-first-name-data-field }}}
						</div>
						<div class="{{styles.block}}">
							{{{ markup.profile-second-name-data-field }}}
						</div>
						<div class="{{styles.block}}">
							{{{ markup.profile-display-name-data-field }}}
						</div>
						<div class="{{styles.block}}">
							{{{ markup.profile-phone-data-field }}}
						</div>
					{{/if}}
				</div>
				{{#if isDataEdit}}
					<div class="{{styles.buttons}}">
						<div class="{{styles.buttons-center}}">
							{{{ markup.profile-save-data-button }}}
						</div>
					</div>
				{{/if}}
				{{#if isPasswordEdit}}
					<div class="{{styles.buttons}}">
						<div class="{{styles.buttons-center}}">
							{{{ markup.profile-save-password-button }}}
						</div>
					</div>
				{{/if}}
			</form>
			<div class="{{styles.buttons}}">
				{{#if isDataEdit}}
					<div class="{{styles.buttons-center}}">
						{{{ markup.profile-cancel-data-edit-button }}}
					</div>
				{{else if isPasswordEdit}}
					<div class="{{styles.buttons-center}}">
						{{{ markup.profile-cancel-psw-edit-button }}}
					</div>
				{{else}}
					<div class="{{styles.block}}">
						{{{ markup.profile-change-data-button }}}
					</div>
					<div class="{{styles.block}}">
						{{{ markup.profile-change-psw-button }}}
					</div>
					<div class="{{styles.block}}">
						{{{ markup.profile-logout-button }}}
					</div>
				{{/if}}
			</div>
		</div>
	</main>
</div>
