<div class="{{class.profile-field}}">
<div class="{{class.field-name}}">{{fieldName}}</div>
<div class="{{class.field-data}}">
<input {{#if isDisabled}}disabled{{/if}} id="{{id}}" autocomplete="{{id}}" class="{{class.field-input}}" type="text" value="{{value}}" />
</div>
</div>
