<div class="{{styles.container}}">
    <div class="{{styles.block}}">
        <div class="{{styles.title}}">
            <h3>Регистрация</h3>
        </div>
        <div>
            <form id="{{formId}}">
                {{>
                Field
                        id="email"
                        placeholder="Почта"
                        type="text"
                        label="Почта"
                        error=state.errors.email
                        value=state.fields.email
                        dataset="email"
                }}
                {{>
                Field
                        id="login"
                        placeholder="Логин"
                        type="text"
                        label="Логин"
                        error=state.errors.login
                        value=state.fields.login
                        dataset="login"
                }}
                {{>
                Field
                        id="first_name"
                        placeholder="Имя"
                        type="text"
                        label="Имя"
                        error=state.errors.first_name
                        value=state.fields.first_name
                        dataset="first_name"
                }}
                {{>
                Field
                        id="second_name"
                        placeholder="Фамилия"
                        type="text"
                        label="Фамилия"
                        error=state.errors.second_name
                        value=state.fields.second_name
                        dataset="second_name"
                }}
                {{>
                Field
                        id="phone"
                        placeholder="Телефон"
                        type="text"
                        label="Телефон"
                        error=state.errors.phone
                        value=state.fields.phone
                        dataset="phone"
                }}
                {{>
                Field
                        id="password"
                        placeholder="Пароль"
                        type="text"
                        label="Пароль"
                        error=state.errors.password
                        value=state.fields.password
                        dataset="password"
                }}
                {{>
                Field
                        id="confirmPassword"
                        placeholder="Пароль (еще раз)"
                        type="text"
                        label="Пароль (еще раз)"
                        error=state.errors.confirmPassword
                        value=state.fields.confirmPassword
                        dataset="confirmPassword"
                }}
            </form>
        </div>
        <div class="{{styles.buttons}}" id="{{buttonsId}}">
            {{>
                Button
                    text="Зарегистрироваться"
                    class=styles.button
                    type=btn_type_reg
            }}
            {{>
                Button
                    text="Назад"
                    class=styles.button
                    type=btn_type_auth
            }}
        </div>
    </div>
</div>
