<div class="{{styles.container}}">
	<main class="{{styles.block}}">
		<div class="{{styles.title}}">
			<h3>Регистрация</h3>
		</div>
		<form id="{{ids.form}}" class="{{styles.form}}">
			<div class="{{styles.fields-group}}">
				{{{ markup.registration-email-field }}}
				{{{ markup.registration-login-field }}}
				{{{ markup.registration-first-name-field }}}
				{{{ markup.registration-second-name-field }}}
				{{{ markup.registration-phone-field }}}
				{{{ markup.registration-psw-field }}}
				{{{ markup.registration-c-psw-field }}}
			</div>
			{{{ markup.registration-submit }}}
		</form>
		<div class="{{styles.buttons}}">
			{{{ markup.registration-signin }}}
		</div>
	</main>
</div>
