<main class="{{styles.container}}">
	<div class="{{styles.info}}">
		<div class="{{styles.code}}">{{code}}</div>
		<div class="{{styles.text}}">{{text}}</div>
	</div>
	<div class="{{styles.buttons}}" id="{{ids.buttons.back}}" data-error="{{ids.dataset.back}}">
		{{{ markup.error-button }}}
	</div>
</main>
