<main class="{{styles.container}}">
	<div class="{{styles.info}}">
		<div class="{{styles.code}}">{{error.code}}</div>
		<div class="{{styles.text}}">{{error.text}}</div>
	</div>
	<div class="{{styles.buttons}}">
		{{{ markup.error-button }}}
	</div>
</main>
